
@{
    ViewBag.Title = "Doctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" bg-image "
     style="background-image: url('../../Content/Img/front-view-assortment-medical-still-life-elements.jpg'); background-repeat: no-repeat; background-size: cover; height: 100vh;margin-top:-50px; ">
</div>