
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" bg-image "
     style="background-image: url('../../Content/Img/woman-working-as-doctor.jpg'); background-repeat: no-repeat; background-size: cover; height: 100vh; ">
</div>
