@{
    ViewBag.Title = "Home Page";
}


<!-- Background image -->
<div 
  class=" bg-image "
     style="background-image: url('../../Content/Img/24816.jpg'); background-repeat: no-repeat; background-size: cover; height: 100vh;margin-top:-100px; ">
</div>
<!-- Background image -->
